@import "~bootstrap/scss/bootstrap";
html,body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
}

.Navbar {
    background: #002f34;
    display: flex;

    .header {
        img {
            width: 20%;
        }

        #basic-navbar-nav {
            display: flex;
            justify-content: end;

            a {
                color: white;
                text-decoration: none;

            }

            a:hover {
                margin-top: 1px ;
            }
        }
    }
    
}

.divLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .login-container {
        display: flex;
        flex-direction: column;
    }
    .pwd-container {
        display: flex;
        flex-direction: column;
        position: relative;
        img {
            position: absolute;
            cursor: pointer;
            width: 12%;
            top: 50%;
            left: 85%;
        }
    }
}

.divSign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .login-container {
        display: flex;
        flex-direction: column;
    }
    .pwd-container1 {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .pwd-container2 {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    img {
        position: absolute;
        cursor: pointer;
        width: 12%;
        top: 50%;
        left: 85%;
    }
}

.ad {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    margin: 10px auto;
    border : 1px solid white;
    background-color: whitesmoke;
    padding: 10px;
    overflow-x: hidden;
    img {
        max-width: 200px;
        min-width: 200px;
        padding-left: 0px;
        border: 0;
    }

    a {
        text-decoration: none;
        color:black;
        font-size: 25px;
    }
    a:hover {
        background-color: #002f34;
        color: white;
    }
}

.adone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


footer {
    background: #002f34;
    color: white;
    padding-top: 25px;
    a {
        color: white;
        text-decoration: none;
    }
}

